<%- include ("layouts/header") %>
<div class="container my-4">
    <div class="row text-center">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    
                    <div class="card-body">
                        <h4 class="card-title">
                            Random videos
                        </h4>
                        <p class="card-text">
                            Will display all the creator's videos
                        </p>
                        <div class="card-footer">
                            <a href="/allvideos" class="btn btn-primary">
                                View
                            </a>
                        </div>
                    </div>
                </div>
                
            </div> 
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    
                    <div class="card-body">
                        <h4 class="card-title">
                            All the creators
                        </h4>
                        <p class="card-text">
                        Select the creator of your choice!!!
                        </p>
                        <div class="card-footer">
                            <a href="/allcreators" class="btn btn-primary">
                                View
                            </a>
                        </div>
                    </div>
                </div>
                
            </div> 
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    
                    <div class="card-body">
                        <h4 class="card-title">
                            Login to your own account
                        </h4>
                        <p class="card-text">
                        To upload the videos and become a creator on this platform
                        </p>
                        <div class="card-footer">
                            <a href="/login" class="btn btn-primary">
                                View
                            </a>
                        </div>
                    </div>
                </div>
                
            </div> 


            
    </div>
</div>
    <%- include ("layouts/footer") %>

